/*=====
css Style
=====*/
@font-face {
  font-family: 'Dubai Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Regular'), url('../../public/fonts/Dubai-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Light';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Light'), url('../../public/fonts/Dubai-Light.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Medium'), url('../../public/fonts/Dubai-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Bold'), url('../../public/fonts/Dubai-Bold.woff') format('woff');
}
