/*=====
Sass structure
=====*/
// Structure information:
// Auth: Mohamed Omar mubark
// Email: mohamed.omar.freelancer@gmail.com

/* Start structure
    font
        import fonts
    helpers
        variables
        reset
        rtl-style
    classes
        display
        color
        background
        margin
        padding
        text
    components
        form
        modal
    layouts
        header
        dashboard section heading
        pagination
End Structure*/

/*=====
font
=====*/
// english
@font-face {
  font-family: 'Dubai Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Regular'), url('../../public/fonts/Dubai-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Light';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Light'), url('../../public/fonts/Dubai-Light.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Medium'), url('../../public/fonts/Dubai-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Bold'), url('../../public/fonts/Dubai-Bold.woff') format('woff');
}


// vue-snotify
@import "../../node_modules/vue-snotify/styles/material.css";