/*=====
css Style
=====*/
@font-face {
  font-family: 'Dubai Regular';
  src: local('Dubai Regular'), url('../../public/fonts/Dubai-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Light';
  src: local('Dubai Light'), url('../../public/fonts/Dubai-Light.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Medium';
  src: local('Dubai Medium'), url('../../public/fonts/Dubai-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Bold';
  src: local('Dubai Bold'), url('../../public/fonts/Dubai-Bold.woff') format('woff');
}

.btn {
  font-family: 'Dubai Regular';
  font-style: normal;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 30px !important;
  border-radius: 0 !important;
}

.btn-top {
  position: fixed;
  z-index: 1030;
  bottom: 70px;
  right: 95px;
  left: auto;
}

.navbar-dark .navbar-nav li.nav-item:hover {
  border-top: 2px solid #FFFFFF;
}

.navbar-dark .navbar-nav li.nav-item .nav-link {
  padding-left: 0 !important;
  text-align: left;
}

.navbar-dark .navbar-nav {
  margin-left: 30px;
}

.text-color-black {
  color: #000;
}

.text-color-gray {
  color: #8A8A8A;
}

.text-color-light {
  color: #FFFFFF78;
}

.font-size-tiny {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.font-size-small {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 34px;
}

.font-size-medium {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 41px;
}

.font-size-large {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 68px;
}

section.page {
  padding: 65px 0 170px;
}

.counter .number {
  font-weight: 700;
  font-size: 70px;
  line-height: 118px;
}

.font-size-medium-bold {
  font-family: 'Dubai Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 37px;
}

section.page.bg-dark {
  background-color: #13161E !important;
}

:root {
  background: #212529;
}

@media (max-width: 1199px) {
  .navbar-dark .navbar-nav li.nav-item .nav-link {
    font-size: 16px;
    min-width: 1px;
    padding: 15px;
  }
}

@media (max-width: 991px) {
  .page .vh-100 {
    height: auto !important;
  }

  section#top h2 {
    text-align: center !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 41px !important;
  }

  section#top {
    height: auto !important;
    padding-top: 120px;
  }

  section.page {
    padding-bottom: 70px;
  }

  .d-flex {
    justify-content: center;
  }

  .slider-clients .slide-item {
    padding: 20px;
    flex-flow: row;
    height: auto;
  }

  .owl-carousel .owl-item {
    justify-content: center;
    align-items: center;
    min-height: 200px;
    display: flex;
  }

  .counter .number {
    font-size: 25px;
    line-height: 1;
  }

  .counter span {
    font-size: 14px;
  }

  section.logos .col-logos {
    flex: 0 0 25%;
  }

  html,
  body {
    overflow-x: hidden;
  }

  section#services .counter .col-12 * {
    text-align: center !important;
  }

  section#services .counter .col-12 h4 {
    margin-bottom: 0 !important;
    margin-top: 30px;
  }


  .VueCarousel-slide:nth-child(even) .content {
    order: -1;
    margin-top: 0px;
  }

  .VueCarousel-slide:nth-child(even) {
    margin-top: 0;
  }

  .vueperslides__arrows--outside .vueperslides__arrow--next {
    right: -30px;
  }

  .vueperslides__arrows--outside .vueperslides__arrow--prev {
    left: -30px;
  }

  .font-size-large {
    line-height: 1;
    text-align: center !important;
    font-size: 26px;
  }

  .font-size-medium {
    font-size: 16px;
    line-height: 1.8;
  }

  .logos .col-logos {
    flex: 0 0 33%;
  }
  
  footer p {
    font-size: 16px;
  }  
}

.sk-cube-grid {
  width: 80px;
  height: 80px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #000;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {

  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {

  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.loading {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1035;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

button:focus:not(:focus-visible) {
  outline: 0 !important;
}