/*=====
css Style
=====*/
@font-face {
  font-family: 'Dubai Regular';
  src: local('Dubai Regular'), url('../../public/fonts/Dubai-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Light';
  src: local('Dubai Light'), url('../../public/fonts/Dubai-Light.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Medium';
  src: local('Dubai Medium'), url('../../public/fonts/Dubai-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Bold';
  src: local('Dubai Bold'), url('../../public/fonts/Dubai-Bold.woff') format('woff');
}

.btn {
  font-family: 'Dubai Regular';
  font-style: normal;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 30px !important;
  border-radius: 0 !important;
}

.btn-top {
  position: fixed;
  z-index: 1030;
  bottom: 70px;
  right: 95px;
  left: auto;
}

.navbar-dark .navbar-nav li.nav-item:hover {
  border-top: 2px solid #FFFFFF;
}

.navbar-dark .navbar-nav li.nav-item .nav-link {
  padding-left: 0 !important;
  text-align: left;
}

.navbar-dark .navbar-nav {
  margin-left: 30px;
}

.text-color-black {
  color: #000;
}

.text-color-gray {
  color: #8A8A8A;
}

.text-color-light {
  color: #FFFFFF78;
}

.font-size-tiny {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.font-size-small {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 34px;
}

.font-size-medium {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 41px;
}

.font-size-large {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 68px;
}

section.page {
  padding: 65px 0 170px;
}

.counter .number {
  font-weight: 700;
  font-size: 70px;
  line-height: 118px;
}

.font-size-medium-bold {
  font-family: 'Dubai Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 37px;
}

.bg-dark {
  background-color: #13161E !important;
}

:root {
  background: #212529;
}

@media (max-width: 1199px) {
  .navbar-dark .navbar-nav li.nav-item .nav-link {
    font-size: 16px;
    min-width: 1px;
    padding: 15px;
  }
}

@media (max-width: 991px) {
  .bg-dark {
    background: #080808 !important;
    position: relative !important;
  }

  .page .vh-100 {
    height: auto !important;
  }

  section#top h2 {
    text-align: center !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 41px !important;
  }

  section#top {
    height: auto !important;
  }

  section.page {
    padding-bottom: 70px;
  }  

  .d-flex {
    justify-content: center;
  }

  .page .text-start {
    text-align: center !important;
  }

  .slider-clients .slide-item {
    padding: 20px;
    flex-flow: row;
    height: auto;
  } 

  .owl-carousel .owl-item {
    justify-content: center;
    align-items: center;
    min-height: 200px;
    display: flex;
  }

  .counter .number {
    font-size: 25px;
  }

  .counter span {
    font-size: 11px;
  }

  section.logos .col-logos {
    flex: 0 0 25%;
  }  

  html, body {
    overflow-x: hidden;
  }  
}